/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* font-family: "Lato", sans-serif; */
  background-color: #0d1117;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 20px 100px; /* Updated padding */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Social Media Links */
.social-links {
  text-align: center;
  margin-bottom: 20px;
}

.social-links a {
  color: white; /* Default color for links */
  text-decoration: underline;
  margin: 0 10px;
}

.social-links a:hover {
  color: #ccc; /* Hover color */
}

/* Header Section */
header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #999;
}

/* About Section */
section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

p,
li {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Skills Section */
.skills ul {
  list-style-type: none;
  padding-left: 0; /* Remove default padding */
}

.skills li {
  margin-bottom: 5px;
  font-size: 1rem;
  padding-left: 0;
}

/* Projects Section */
ul {
  list-style: none;
}

/* Links */
a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #ccc;
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #444;
}

footer p {
  font-size: 0.9rem;
  color: #888;
}
